{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "indent": ["error", 4],
        "padded-blocks": ["error", { "classes": "always" }],
        "comma-dangle": ["error", "only-multiline"],
        "no-console": 0,
        "no-underscore-dangle": [2, { "allow": ["_json", "_children"] }],
        "no-unused-expressions": 0,
        "no-await-in-loop": 0
    }
}